<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">        
      </div>
    </div>
  </div>
</nav>

<div class="container" responsive="true">
  <form method="post" utocomplete="off" #usuarioFormLogin="ngForm" (ngSubmit)="logar(usuarioFormLogin)">
    <div  class="ui-g">

      <div class="ui-g-12 ui-fluid">
        <h3>LOGIN</h3>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Login</label>
        <input type="text" pInputText id="login_log" name="login" [(ngModel)]="usuario.login" required/>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Senha</label>
        <input type="password" pPassword id="senha_log" name="senha" [(ngModel)]="usuario.senha" required minlength="6"/>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" [disabled]="usuarioFormLogin.invalid" label="Login" (click)="logar(usuarioFormLogin)"></button>
      </div>

      <div>
        <a href="/recupera">Esqueceu sua senha?</a>
      </div>

    </div>
  </form>
</div>