<div class="container" responsive="true">
  <form method="post" utocomplete="off" #usuarioForm="ngForm" (ngSubmit)="logar(usuarioForm)">
    <div  class="ui-g">

      <div class="ui-g-12 ui-fluid">
        <h3>Login</h3>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Login</label>
        <input type="text" pInputText id="login" name="login" [(ngModel)]="login.login" required/>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Senha</label>
        <input type="password" pPassword id="senha" name="senha" [(ngModel)]="login.senha" required minlength="6"/>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" [disabled]="usuarioForm.invalid" label="Login" (click)="logar(usuarioForm)"></button>
      </div>

    </div>
  </form>
</div>