<div class="container" responsive="true">
  <form method="post" utocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvarUsuario(usuarioForm)">
    <div  class="ui-g">

      <div class="ui-g-12 ui-fluid">
        <h3>LOGIN</h3>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Login</label>
        <input type="text" pInputText id="login_log" name="login" [(ngModel)]="usuario.login" required/>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Senha</label>
        <input type="password" pPassword id="senha_log" name="senha" [(ngModel)]="usuario.senha" required minlength="6"/>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" [disabled]="usuarioForm.invalid" label="Salvar" (click)="salvarUsuario(usuarioForm)"></button>
      </div>
    </div>
  </form>
</div>