<app-navbar></app-navbar>
<div class="container" responsive="true">
  <form method="post" utocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvarUsuario(usuarioForm)">
    <div  class="ui-g">

      <div class="ui-g-12 ui-fluid">
        <h3>CADASTRAR USUÁRIO</h3>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText id="nome" name="nome" [(ngModel)]="usuario.nome" required minlength="10"/>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Email</label>
        <input type="email" pInputText id="email" name="email" [(ngModel)]="usuario.email" required email/>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Login</label>
        <input type="text" pInputText id="login" name="login" [(ngModel)]="usuario.login" required/>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Senha</label>
        <input type="password" pPassword id="senha" name="senha" [(ngModel)]="usuario.senha" required minlength="6"/>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" [disabled]="usuarioForm.invalid" label="Salvar" (click)="salvarUsuario(usuarioForm)"></button>
      </div>

    </div>
  </form>
</div>