<div class="container" responsive="true">
  <form>
    <div  class="ui-g">

      <div class="ui-g-12 ui-fluid">
        <h3>DADOS DO USUÁRIO</h3>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required minlength="10"/>

      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Email</label>
        <input type="email" pInputText />
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Login</label>
        <input type="text" pInputText />
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>Senha</label>
        <input type="password" pPassword />
      </div>

    </div>
  </form>
</div>