/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
  }

  .col-geral{
    text-align: center;
  }

  .col-valor {
    width: 120px;
    text-align: center;
  }
  
  .col-data {
    width: 120px;
    text-align: center;
  }

  .div-geral {
    left: 100px;
}